<section class="left-panel">
    <nav class="navigatation">
        <div class="menu-text">
            <h3>
                <img src="~/images/ResetLogo.png" />
            </h3>
        </div>
        <a href="#register-section">REJESTRACJA</a>
        <a href="#about-section">O KONFERENCJI</a>
        <a href="#prelegent-section">PRELEGENCI</a>
        <a href="#agenda-section">AGENDA</a>
        <a href="#new-section">CO NOWEGO?</a>
        <a href="#sponsor-section">SPONSORZY</a>
        <a href="#partners-section">PARTNERZY</a>
        <a href="#staff-section">ORGANIZATORZY</a>
    </nav>
    <!-- ./Navigation links-->
    <div id="social-links" class="Icon-trigger">
        <span class="fa fa-bars"></span>
        <a href="https://www.facebook.com/ResetATH" class="fa fa-facebook-square" target="_blank"></a>
        <a href="https://twitter.com/resetath" class="fa fa-twitter-square" target="_blank"></a>
    </div>
    <!-- ./Social links-->
    <!-- ./Social links-->
</section>
