@model IEnumerable<Itad2017.Models.Participant>

<style>
    body{
        background-color: #fff;
        color: #000000;
    }
</style>


@Html.Partial("~/Views/Shared/AdminPartials/_AdminMenu.cshtml")

<div class="container" ng-app="adminApp">
    <div ng-init='rawData = @Json.Serialize(Model) '></div>
    <div class="row" style="padding-top: 30px;" ng-controller="adminController as _model">
        <div class="col-sm-8">
            <h3>
                Zarejestrowane osoby
            </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="color: #777;">
                            KOD
                        </th>
                        <th style="color: #777;">
                            Adres Email
                        </th>
                    </tr>
                    <tr>
                        <th style="color: #777;">
                            <input type="text" ng-model="search.details.code" />
                        </th>
                        <th style="color: #777;">
                            <input type="text" ng-model="search.email" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer;" ng-repeat="user in _model.people | filter: search" ng-click="_model.chooseOne(user)">
                    <td style="border: none; font-weight: bold;">
                        {{user.details.code}}
                    </td>
                    <td style="border: none;">
                        {{user.email}}
                        <span ng-if="user.details.isConfirmed == true"><i class="glyphicon glyphicon-ok text-success"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>
                Szczegóły
            </h3>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div ng-if="choosenOne != null">
                        <button class="btn btn-link" ng-click="_model.clearDetails()" style="float: right;"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
                        <center>
                            <h4>
                                {{choosenOne.details.code}}<br/>
                                <small>
                                    {{choosenOne.firstName}} {{choosenOne.secondName}}
                                </small>
                            </h4>
                        </center>
                        <p>
                            Koszulka <i style="float: right;">{{choosenOne.details.tshirtSize}}</i><br />
                            Data rejestracji <i style="float: right;">{{choosenOne.details.registerTime}}</i><br />
                            Id <i style="float: right;">{{choosenOne.id}}</i><br />
                            Adres email <i style="float: right;">{{choosenOne.email}}</i><br />
                        </p>
                        <hr/>
                        <a asp-action="Edit" asp-route-id="{{choosenOne.ID}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> edytuj</a><br />
                        <a asp-action="Edit" asp-route-id="{{choosenOne.ID}}"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> potwierdź obecność</a><br/>
                        <a asp-action="Edit" asp-route-id="{{choosenOne.ID}}"><i class="glyphicon glyphicon-gift" aria-hidden="true"></i> giftpack odebrany</a>
                        @*<a asp-action="Delete" asp-route-id="@item.ID" class="text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>*@

                    </div>
                    <div ng-if="choosenOne == null">
                        <p class="text-danger">
                            nie wybrano użytkownika
                        </p>
                    </div>
                </div>
            </div>
            <h3>
                Dodaj uczestnika
            </h3>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form asp-controller="Participants" asp-action="Create" method="post">
                        <center>
                            <br />
                            <input name="Email" class="form-control" placeholder="Email" /><br />
                            <input name="FirstName" class="form-control" placeholder="Imię" /><br />
                            <input name="SecondName" class="form-control" placeholder="Nazwisko" /><br />
                            <input type="submit" value="Dodaj Nowego Uczestnika" class="btn btn-primary" /><br />
                        </center><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_customScripts.cshtml")

<script>
    var app = angular.module("adminApp", []);

    app.controller("adminController", ["$scope", function ($scope) {
        var self = this;

        console.log($scope.rawData);

        self.people = $scope.rawData;

        self.chooseOne = function (item) {
            $scope.choosenOne = item;
        };

        self.clearDetails = function () {
            $scope.choosenOne = null;
        };
    }]);
</script>