
<div class="container">
    <div class="row" style="margin-top: 15vh;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <section class="panel-body">
                    <form asp-action="Index">
                        <div class="form-horizontal">
                            <h4>Dziękujemy za potwierdzenie zapisania</h4>
                            <h5>Wybierz poniżej jaki rozmiar koszulki chcesz otrzymać i na jaki warsztat chcesz się zapisać.</h5>
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ID" />
                            </div>
                            <div class="form-group">
                                <label asp-for="TshirtSize" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select asp-for="TshirtSize" class="form-control">
                                        <option value="male, S">Męska - S</option>
                                        <option value="male, M">Męska - M</option>
                                        <option value="male, L">Męska - L</option>
                                        <option value="female, S">Damska - S</option>
                                        <option value="female, M">Damska - M</option>
                                        <option value="female, L">Damska - L</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">WorkShops</label>
                                <div class="col-md-10">
                                    <select name="WorkShop" class="form-control">
                                        <option value="null">Nie jestem zainteresowany/a warsztatami</option>
                                        @foreach (var item in ViewBag.Workshops)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Potwierdz" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>