<div class="container">
    <div class="row" style="margin-top: 15vh;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <section class="panel-body">
                    <h3>
                        Dziękujemy za rejestrację<br />
                        <small>
                            Sprawdź swoją skrzynkę pocztową, wysłaliśmy Ci właśnie potwierdzenie dołączenia do konferencji. :)
                        </small>
                    </h3>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link" style="color: aqua;">wróć na stronę główną konferencji</a>
                </section>
            </div>
        </div>
    </div>
</div>