<style>
    body {
        background: url(http://i63.tinypic.com/25alqow.jpg);
    }
</style>
<div class="row abt-back-color" style="margin-top: 20vh;">
    <div class="col-md-4 col-md-offset-4">
        <section>
            <h3 style="color: white;">
                Dziękujemy za rejestrację<br />
                <small style="color: white;">
                    Sprawdź swoją skrzynkę pocztową, wysłaliśmy Ci właśnie potwierdzenie dołączenia do konferencji. :)
                </small>
            </h3>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link" style="color: aqua;">wróć na stronę główną konferencji</a>
        </section>
    </div>
</div>
