
<div class="row" style="margin-top: 25vh;">
    <div class="col-md-4 col-md-offset-4">
        <section>
            <h3 style="color: aqua;">
                Dziêkujemy za rejestracjê<br/>
                <small style="color: aqua;">
                    SprawdŸ swoj¹ skrzynkê pocztow¹, wys³aliœmy Ci w³aœnie potwierdzenie do³¹czenia do konferencji. :)
                </small>
            </h3>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">wróæ na stronê g³ówn¹ konferencji</a>
        </section>
    </div>
</div>
