@{
    ViewData["Title"] = "Home Page";
}



<center>Tutaj bedzie wszystko ? :D</center>

<div class="cookie-container" style="display: none;">
    <div class="alert alert-info alert-dismissible col-xs-12 itad-alert text-center" role="alert" style="position: fixed;border-radius:0; opacity: 0.8">
        <button type="button" class="close cookies-accept" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-3">
                <img src='/Content/images/cookies.png' class="pull-right" />
            </div>
            <div class="col-xs-5">
                <p>
                    Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a target="blank" href="@Url.Content("~/Content/files/ITAD-polityka-prywatnosci.pdf")"><b>Polityką Plików Cookies</b></a>.
                    Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce. <a href="" class="cookies-accept"><b>Rozumiem</b></a>
                </p>
            </div>

        </div>


    </div>
</div>
@Html.Partial("_AlertsPartial", Model.Alerts)

@Html.Action("UpperSection")

<!-- REGISTER SECTION -->
<section id="register-section" class="container">
    <div class="row srvc-back-color">
        <section class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 center" data-stage-id="1">
            <div class="divider-two"></div>
            <h2 class="center">
                REJESTRACJA
            </h2>
            <div class="divider-two margin-botom-50"></div>
            <div class="text-center">
                <p class="bk-red"><b>REJESTRACJA została zamknięta z dniem 12 listopada 2015r, bilety zostały wyprzedane :)</b></p>
            </div>
            <h3><span class="glyphicon glyphicon-gift"></span></h3>
            <p class="margin-botom-20">
                <b> SPIESZ SIĘ!</b> Dla pierwszych 300 osób ITADowa koszulka :).
            </p>

            <div class="row margin-botom-20">
                <div class="col-xs-6">
                    <div class="pull-right chooseConferenceType" data-isworkshop="false">
                        <i class="fa fa-users chooseIcon"></i>
                        <p class="chooseText">KONFERENCJA</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="pull-left chooseConferenceType" data-isworkshop="true">
                        <i class="fa fa-cogs chooseIcon"></i>
                        <p class="chooseText">WARSZTATY</p>
                    </div>
                </div>
            </div>

            <p>Rejestracja na warsztaty jest równoznaczna z rejestracją na konferencję.</p>
        </section>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    @{
                        <div id="registerGuestPartial">@{ Html.RenderPartial("RegisterGuest", Model.RegisterGuestViewModel); }</div>
                            <div id="registerWorkshopGuestPartial">@{ Html.RenderPartial("RegisterWorkshopGuest", Model.RegisterWorkshopGuestViewModel); }</div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END REGISTER SECTION -->