@model Itad2017.Models.Participant

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


Siemankoo @Model.FirstName @Model.SecondName :D

Wybierz sobie koszuleczke pod spodem :)

tutaj wstawiæ trzeba partial view z dodawaniem detailsow :)
